- if item.children.count > 0
  = link_to image_tag("add.gif"), :url => {:action => "tree_item", :id => item.id}, :update => "children_#{item.id}", :remote => true
- else
  = image_tag("none.png")
%strong= item.translation
= item.name
%ul{:id => "children_#{item.id}"}
